{% extends "account/base_account.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}
        <title>Lock Screen | Minia - Minimal Admin & Dashboard Template</title>
{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
                                    <div class="auth-content my-auto">
                                        <div class="text-center">
                                            <h5 class="mb-0">Lock screen</h5>
                                            <p class="text-muted mt-2">Enter your password to unlock the screen!</p>
                                        </div>
                                        <div class="user-thumb text-center mb-4 mt-4 pt-2">
                                            <img src="{% static 'images/users/avatar-1.jpg'%}" class="rounded-circle img-thumbnail avatar-lg" alt="thumbnail">
                                            <h5 class="font-size-15 mt-3">Shawn</h5>
                                        </div>
                                        <form class="mt-4" action="index.html">
                                            <div class="mb-3">
                                                <label class="form-label" for="userpassword">Password</label>
                                                <input type="password" class="form-control" id="userpassword" placeholder="Enter password">
                                            </div>
                                            <div class="mb-3 mt-4">
                                                <button class="btn btn-primary w-100 waves-effect waves-light" type="submit">Unlock</button>
                                            </div>
                                        </form>

                                        <div class="mt-5 text-center">
                                            <p class="text-muted mb-0">Not you ? return <a href="auth-login.html"
                                                    class="text-primary fw-semibold"> Sign In </a> </p>
                                        </div>
                                    </div>
{% endblock %}