{% extends "account/base_account.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}
        <title>Password Reset| Minia - Minimal Admin & Dashboard Template</title>
{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
 <form method="POST" action="." novalidate>
{% csrf_token %}
{{ form|crispy }}
                <div class="mb-3 mt-4">
                    <button class="btn btn-primary w-100 waves-effect waves-light" type="submit">Reset Password</button>
                </div>
</form>
{% endblock %}