{% extends "account/base_account.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}
        <title>Recover Password | Minia - Minimal Admin & Dashboard Template</title>
{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
                                    <div class="auth-content my-auto">
                                        <div class="text-center">
                                            <h5 class="mb-0">Reset Password</h5>
                                            <p class="text-muted mt-2">Reset Password with Minia.</p>
                                        </div>
                                        <div class="alert alert-success text-center my-4" role="alert">
                                            Enter your Email and instructions will be sent to you!
                                        </div>
                                        <form class="mt-4" method="POST" action="{% url 'account_reset_password' %}" novalidate>
                                        {% csrf_token %}
                                        {{ form|crispy }}                                           
                                        <div class="mb-3 mt-4">
                                                <button class="btn btn-primary w-100 waves-effect waves-light" type="submit">Reset</button>
                                        </div>
                                        </form>

                                        <div class="mt-5 text-center">
                                            <p class="text-muted mb-0">Remember It ?  <a href="{{ login_url }}"
                                                    class="text-primary fw-semibold"> Sign In </a> </p>
                                        </div>
                                    </div>
{% endblock %}