{% extends "account/base_account.html" %}

{% load static %}
{% load i18n %}

{% block head_title %}
        <title>Set Password | Minia - Minimal Admin & Dashboard Template</title>
{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
                                    <div class="auth-content my-auto">
                                        <div class="text-center">
                                            <h5 class="mb-0">{% trans "Set Password" %}</h5>
                                            <p class="text-muted mt-2">Set Password with Minia.</p>
                                        </div>

                                        <form class="password_set" method="POST" action="{% url 'account_set_password' %}" >
                                        {% csrf_token %}
                                        {{ form|crispy }}                                                                    
                                        {% if request.GET.next %}
                                            <input type="hidden" name="next" value="{{request.GET.next}}">
                                        {% endif %}
                                            <button class="btn btn-primary w-100 waves-effect waves-light mt-3" type="submit" name="action">Set Password</button>
                                        </form>

                                        <div class="mt-5 text-center">
                                            <p class="text-muted mb-0">Remember It ?  <a href="{% url 'dashboard' %}"
                                                    class="text-primary fw-semibold"> Home </a> </p>
                                        </div>
                                    </div>
{% endblock %}