{% extends "account/base_account.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}
        <title>Password Reset | Minia - Minimal Admin & Dashboard Template</title>
{% endblock %}
{% load crispy_forms_tags %}

{% block content %}


    <div class="auth-content my-auto text-center">
    <div class="p-0 mt-0"> 
    {% for message in messages %}
    <div class="alert {{ message.tags }} mb-4" role="alert">
        <strong>{{ message }}</strong>
    </div>
    {% endfor %}
    <h2 class="mb-1">Password Reset Done</h2>    
    
    <p class="fs-6 ">Your Password is Successfully changed.</p>

    <a class="btn btn-primary mb-5" href="{% url 'account_login'%}">Login</a>
    
    </div>                     
    </div>
{% endblock %}